<div id="controlPostModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Control Post</h3>
            </div>
            <div class="modal-body">
                <div id="postModalErrorsMsg" class="alert alert-danger" style="display: none">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>There are Some errors : </h4>
                    <ol>
                    </ol>
                </div>
                <form id="postForm" method="post">
                    <div class="form-group">
                        <label for="userInput" class="control-label">User:</label>
                        <select class="form-control" id="userInput">
                            <option value="">Select User</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contentInput" class="control-label">Content:</label>
                        <textarea class="form-control" id="contentInput"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" id="postSaveBtn">Save</button>
            </div>
        </div>
    </div>
</div>